    <!-- Footer-->
    <footer>
        <ul class="list-inline text-center">
            <li class="list-inline-item">
                <a href="https://x.com/wendy_python">
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.instagram.com/wendy_python">
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/wendy-python/">
                    <span class="fa-stack fa-lg">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </li>
        </ul>
        <div class="small text-center text-muted fst-italic">Copyright &copy; Your Website 2023</div>
    </footer>

  </body>
</html>
