{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}

<!-- Page Header -->
<header
  class="masthead"
  style="background-image: url('../static/img/post-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="page-heading">
        <h1>{{ post.title }}</h1>
        <h2 class="subheading">{{ post.subtitle }}</h2>
        <span class="subheading"
          ><em>Posted by
          {{ post.author.name }}
          on {{ post.date }}
        </em></span>
      </div>

    </div>
  </div>
</header>

<!-- Post Content -->
<article>
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      {{ post.body|safe }}
      <!-- Only show Edit Post Button if user id is 1 -->
      {% if current_user.id == 1 %}
        <div class="d-flex justify-content-end mb-4">
          <a
            class="btn btn-primary float-right"
            href="{{ url_for('edit_post', post_id=post.id) }}"
            >Edit Post</a
          >
        </div>
      {% endif %}

      <!-- Comments Area -->
      {% if is_login %}
        {{ ckeditor.load() }}
        {{ render_form(form) }}
      {% endif %}
      <ul class="commentList">
        {% for comment in post.comments %}
        <li>
          <div class="commenterImage">
            <img src="{{ comment.commenter.email | gravatar }}" />
          </div>
          <div class="commentText">
            <p>{{ comment.text|safe }}</p>
            <span class="date sub-text">{{ comment.commenter.name }}</span>
          </div>
        </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</article>

{% include "footer.html" %}
